html,body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

span1{
  color: #38b6a5;
}

span2{
  color: #ffffff;
}

.form-signin {
  width: 100%;
  max-width: auto;
  padding: 15px;
  margin: auto;
}

.btn{
  width: 200px;
  padding: 10px;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px solid #68779a;
  background: #cbe8fa;
  cursor: pointer;
}
